* {
    margin: 0%
}

#sid1 {
    display: grid;
    grid-template-rows: 100px 45px 150px 1fr 60px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    background: darkgreen;
    grid-template-areas:
    'hd hd hd'
    'nv nv nv'
    'as1 mn sc'
    'as2 mn sc'
    'ft ft ft'
}

#meny {
    display: grid;
    grid-template-rows: 100px 45px 1fr 60px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    height: 100vh;
    background: darkgreen;
    grid-template-areas:
    'hd hd hd'
    'nv nv nv'
    'mn2 mn3 mn4'
    'ft ft ft'
}


#recept {
    display: grid;
    grid-template-rows: 100px 45px 1fr 60px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    height: 100vh;
    background: darkgreen;
    grid-template-areas: 
    'hd hd hd'
    'nv nv nv'
    'mn5 mn6 mn7'
    'ft ft ft'
}

header {
    grid-area: hd;
    color: rgb(7, 56, 0);
    background-image: url(../img/julglitter.jpg);
    background-size: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    grid-area: nv;
    background: darkgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#as1 {
    grid-area: as1;
    background: maroon;
    color: rgb(253, 235, 213);
}

#as2 {
    grid-area: as2;
    background: maroon;
}

#m1 {
    grid-area: mn;
    background: maroon;
}

section {
    grid-area: sc;
    background: maroon;
}

footer {
    grid-area: ft;
    background: darkgreen;
    color: rgb(253, 235, 213);
    display: flex;
    flex-direction: row;
}

article {
    background: rgb(253, 235, 213);
    width: 20em;
    margin: 20px auto;
    border-radius: 1rem;
}

h2 {
    margin: 10px;
    padding: 10px 0px 0px 10px;
    font-family: 'Dancing Script', cursive;
}

p {
    margin: 15px;
    padding: 0px 0px 10px 10px;
}

#agare {
    width: 350px;
    border-radius: 2rem;
    margin: 0px 35px 20px 35px;
}

h3 {
    margin: 10px;
    font-family: 'Dancing Script', cursive;
}

.klickbar {
    font-family: 'Dancing Script', cursive;
    color: rgb(253, 235, 213);
    margin: 15px;
}

.klickbar:hover {
    color: maroon;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    padding: 0px 0px 0px 30px;
}

#m2 {
    grid-area: mn2;
    background: maroon;
}

#m3 {
    grid-area: mn3;
    background: maroon;
}

#m4 {
    grid-area: mn4;
    background: maroon;
}

#m5 {
    grid-area: mn5;
    background: maroon;
}

#m6 {
    grid-area: mn6;
    background: maroon;
}

#m7 {
    grid-area: mn7;
    background: maroon;
}

a {
    text-decoration: none;
}

.foten {
    margin: 22px 50px 22px 50px;
}

.logga {
    background: maroon;
    border-radius: 1rem 0rem 0rem 1rem;
    padding: 5px;
}